<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION FORM</title>
</head>
<body>
<h1>Registration Form</h1>
<form method="post">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Enter Username"><br>
  <input type="text" name="first_name" placeholder="Enter First name"><br>
  <input type="text" name="last_name" placeholder="Enter Last name"><br>
  <input type="email" name="email" placeholder="Enter Email"><br>
  <input type="password" name="password" placeholder="Enter Password"><br>
  <input type="password" name="cpass" placeholder="Confirm Password"><br>
  <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>